.header__lang-link {
  margin: 0;
  margin-right: 18px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:focus {
  text-decoration: underline;
}


@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
