.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
}


@media screen and (max-width: 767px) {
  .places {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}