.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  align-items: flex-end;
  max-width: 1184px;
  width: calc(100% - 2*48px);
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 2*16px);
  }
}